body{
    margin: 0;
}
.title{
    margin-top: 100px;
}
.title h2{
    text-align: center;
    font-size: 2.5rem;
}

.tablero{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
    width: 65%;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20%;
}

